body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1F2937; */
    /* display: flex; */
    /* flex-direction: column; */
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1000px; */
    margin: 0 auto;
    margin-bottom: 100px;
    /* background-color:; */
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 100px;
    
}
.image {
    width: 500px;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1600px; */
    margin: 0 auto;
    /* background-color: red; */
    gap: 30px;
}

/* adjust title width */
.text {
    width: 450px;
}

.title h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 7px;
    margin-top: 0;
    line-height: 55px;
}

.detail {
    font-size: 18px;
    color: #E5E7EB
}

.hero-btn {
    border-radius: 13%;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
}

.wrapper {
    max-width: 1200px;
    min-width: 0;
}

.section h2 {
    font-size: 32px;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 100px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card {
    height: 150px;
    width: 150px;
    border: 1px solid #3882F6;
    border-radius: 10px;
}

.card-info {
    display: flex;
    justify-content: center;
    gap: 53px;

}

.card-info  p {
    /* display: flex; */
    /* flex-direction: column; */
    width: 150px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    /* background-color: gray; */
    /* flex-wrap: wrap; */
}

.quote p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 600px; */
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.aside-wrapper {
    /* width: 800px; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-wrapper {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.author {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    font-size: 24px;
    padding-bottom: 75px;
    font-weight: bold;

}

.author p {
    margin: 0;
}
